:root {
	--background-color: #d7d4ee;
	--lightBlue-color: #f0eefd;
	--navText-color: #9e9695;
	--deepPurple-color: #78699a;
	font-family: 'Raleway', sans-serif;
}

* {
	box-sizing: border-box;
}

html,
body {
	background-color: var(--background-color);
	margin: 0;
}

.grid-container {
	background-color: white;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: grid;
	grid-template-rows: 15vh 65vh;
	grid-template-columns: 75vw;
}

header {
	color: var(--navText-color);
	align-items: center;
	margin: 0 2rem;
	.navbar {
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;
		span {
			padding-left: 6.5vw;
		}
		#icon {
			color: hotpink;
			margin-right: auto;
			padding-left: 0;
		}
	}
}

.content {
	padding: 0 2rem 2rem 2rem;
	display: grid;
	grid-template-columns: 31% auto;
	grid-template-rows: 100%;
	figure {
		margin: 0;
		overflow: hidden;
		img {
			max-width: 100%;
			max-height: auto;
		}
	}
	section {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: 45% auto;
		.long {
			grid-column: 1 / 3;
		}
	}
}

.yoga {
	padding-left: 2rem;
	h2 {
		color: var(--deepPurple-color);
		font-size: 6.5rem;
		font-weight: 100;
		letter-spacing: 0.5rem;
		text-transform: uppercase;
		margin: 0;
	}
	p {
		color: var(--navText-color);
		font-size: 1.5rem;
		font-weight: 200;
		display: inline;
	}
}

section {
	.item {
		background: linear-gradient(to right top, white, var(--background-color));
		display: flex;
		justify-content: flex-end;
		align-items: flex-start;
		p {
			align-self: flex-end;
			margin: 0 auto 2rem 2rem;
		}
		span {
			margin: 2rem 2rem 0 auto;
		}
	}
	.item + .item {
		background: linear-gradient(to right top, var(--background-color), #a49fc6);
	}
}
